In [1]:
#Importo las librerias que vamos a utilizar:
import pandas as pd
import numpy as np

In [2]:
#Dataset: Analizo las columnas y filas

In [3]:
raw_data = pd.read_csv("../Data/properatti.csv", sep=",")

In [4]:
raw_data.head(5)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...

## Columnas

● Unnamed: 0 :Esta columna hay que eliminarla siendo que es exactamente lo mismo que index
● Fecha de creación: No existe esta columna 
● Expensas: expenses #88.23% de los datos son nulos. 
● Tipo de la propiedad (house, apartment, ph) : property_type #Se divide en apartament,house,PH y store. No tiene valores nulos.
● Operación del aviso (sell, rent) : operation #todo sell. No tiene valores nulos
● Nombre del lugar: place_name #Tiene 23 nulos que pueden ser encontrados en place_with_parent_names
● Nombre del lugar + nombre de sus ‘padres’: place_with_parent_names #Se repiten varios valores. No hay nulos
● ID de geonames del lugar (si está disponible): geonames_id #Se repiten varios datos y hay 15.44% de datos nulos
● Latitud,Longitud: lat-lon #42.53% de los datos son nulos. No tiene valores repetidos
Longitud: lon #Tiene 42.53% de los datos nulos. Hay valores repetidos. Pareceria que los datos faltantes son los mismos que en lat-lon
Latitud: lon #Tiene 42.53% de los datos nulos. Hay valores repetidos. Pareceria que los datos faltantes son los mismos que en lat-lon
● Precio original del aviso: price #16.84% de los datos son nulos. Hay outliers y valores en dolares y en pesos
● Moneda original del aviso (ARS, USD): currency #USD(87587), ARS(13219),PEN(2),UYU(1) . 
● Precio del aviso en moneda local (ARS): price_aprox_local_currency #16.84% de los datos son nulos. Los valores van desde 80.000 a 800.000.000. Hay un valor que es 0.
● Precio aproximado en USD: price_aprox_usd #16.84% de los datos son nulos. Los valores van desde 47.000.000 hasta 4.500. Hay un valor nulo. Chequear si las converciones son correctas.
● Superficie en m²: surface_total_in_m2 #32.44% de los datos son nulos. 383 valores son 0. Los valores van desde 200.000 m2 a 10 m2
● Superficie cubierta en m²: surface_covered_in_m2 #16,42% de los datos son nulos. Los valores van desde 187000 a 1. 2 valores son 0
● Precio en USD/m²: price_usd_per_m2 #43.39% de los datos son nulos. Los valores van desde 206333 a 0.6
● Precio por m²: price_per_m2 #27.69%  de los datos son nulos. Los valores van desde 1.51 a 4.000.000.
● N° de piso, si corresponde: floor #93.48% de los datos son nulos. Los valores van de 3150 a 1 (Nose a que se refieren)
● Ambientes: rooms #60.9% de los datos son nulos. Los valores van de 32 a 1.
● URL en Properati: properati_url #No hay datos nulos. Todas las filas son distintas.
● Descripción: description #0.0016 de los datos son nulos.
● Título: title . No hay valores nulos. Hay información que se puede extraer para otras columnas en las que falte informacion.
● URL de un thumbnail de la primer foto: image_thumbnail #2.57% de los datos son nulos.

In [5]:
raw_data.columns

Index(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name', 'geonames_id',
       'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [6]:
raw_data.dtypes

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

In [7]:
(raw_data['Unnamed: 0'] == raw_data.index).value_counts()
#Esta columna hay que eliminarla siendo que es exactamente lo mismo que index

True    121220
dtype: int64

In [8]:
raw_data['operation'].value_counts()
#Dice todo sell, podria ser tambien eliminada

sell    121220
Name: operation, dtype: int64

In [9]:
raw_data['property_type'].value_counts()

apartment    71065
house        40268
PH            5751
store         4136
Name: property_type, dtype: int64

In [10]:
print((raw_data['geonames_id'].value_counts() > 2).value_counts())
#Almenos 446 datos se repiten mas de una vez.
print(f'Nulos: {raw_data.geonames_id.isnull().sum()}')
print(f'Porcentaje:{(raw_data.geonames_id.isnull().sum()/(raw_data.shape[0]))*100}')

True     446
False    200
Name: geonames_id, dtype: int64
Nulos: 18717
Porcentaje:15.440521366111204

In [11]:
(raw_data.place_name).isnull().sum()

23

In [12]:
print((raw_data.place_with_parent_names.value_counts() > 2).value_counts())
raw_data.place_with_parent_names.isnull().sum()

True     793
False    371
Name: place_with_parent_names, dtype: int64

0

In [13]:
(raw_data['lat-lon'].isnull().sum()/raw_data.shape[0])*100

42.52598581092229

In [14]:
(raw_data['lat'].isnull().sum()/raw_data.shape[0])*100

42.52598581092229

In [15]:
(raw_data['lon'].isnull().sum()/raw_data.shape[0])*100

42.52598581092229

In [16]:
(raw_data['expenses'].isnull().sum()/raw_data.shape[0])*100

88.23461475004125

In [17]:
(raw_data['price'].isnull().sum()/raw_data.shape[0])*100

16.837155584886982

In [18]:
raw_data.price.sort_values(ascending = False).head(5)

107390    650000000.0
65701      99999999.0
91368      56500000.0
64134      50000000.0
64131      50000000.0
Name: price, dtype: float64

In [19]:
raw_data.currency.value_counts()

USD    87587
ARS    13219
PEN        2
UYU        1
Name: currency, dtype: int64

In [20]:
(raw_data['currency'].isnull().sum()/raw_data.shape[0])*100

16.83798053126547

In [21]:
(raw_data['price_aprox_local_currency'].isnull().sum()/raw_data.shape[0])*100

16.837155584886982

In [22]:
(raw_data['price_aprox_local_currency'] == 0).sum()

1

In [23]:
(raw_data['price_aprox_usd'].isnull().sum()/raw_data.shape[0])*100

16.837155584886982

In [24]:
(raw_data['surface_total_in_m2'].isnull().sum()/raw_data.shape[0])*100

32.44349117307375

In [25]:
(raw_data['surface_total_in_m2'] == 10).sum()

21

In [26]:
(raw_data['surface_covered_in_m2'].isnull().sum()/raw_data.shape[0])*100

16.422207556508827

In [27]:
raw_data['surface_covered_in_m2'].sort_values(ascending = True)

7949      0.0
28938     0.0
14469     1.0
95490     1.0
7107      1.0
         ...
121203    NaN
121204    NaN
121205    NaN
121206    NaN
121209    NaN
Name: surface_covered_in_m2, Length: 121220, dtype: float64

In [28]:
(raw_data['price_usd_per_m2'].isnull().sum()/raw_data.shape[0])*100

43.394654347467416

In [29]:
(raw_data['price_per_m2'].isnull().sum()/raw_data.shape[0])*100

27.686850354726943

In [30]:
raw_data['floor'].sort_values(ascending = False)

39394     3150.0
63248     2509.0
60483     2177.0
63257     2103.0
28537     1609.0
           ...
121215       NaN
121216       NaN
121217       NaN
121218       NaN
121219       NaN
Name: floor, Length: 121220, dtype: float64

In [31]:
raw_data['rooms'].sort_values(ascending = False)

45552     32.0
55272     32.0
56540     32.0
114642    31.0
111578    30.0
          ...
121215     NaN
121216     NaN
121217     NaN
121218     NaN
121219     NaN
Name: rooms, Length: 121220, dtype: float64

In [32]:
(raw_data['title'].isnull().sum()/raw_data.shape[0])*100

0.0

In [33]:
(raw_data['description'] == "").sum()

0

In [34]:
raw_data['title'].value_counts()

DEPARTAMENTO EN VENTA                                       4855
CASA EN VENTA                                               2677
Departamento - Nueva Cordoba                                1003
PH EN VENTA                                                  921
Departamento - Centro                                        685
                                                            ...
Duplex en Venta Ramos Mejia / La Matanza (A141 2746)           1
Casa  en Venta Ramos Mejia / La Matanza (A141 2747)            1
Departamento en Venta Valentin Alsina / Lanus (A154 591)       1
Triplex en Ambos V/A San Justo / La Matanza (A155 938)         1
Departamento apto profesional en el Centro                     1
Name: title, Length: 72705, dtype: int64

In [35]:
(raw_data['image_thumbnail'].isnull().sum()/raw_data.shape[0])*100

2.56723312984656

In [37]:
place_name_null_mask = raw_data['place_name'].isnull()
raw_data.loc[place_name_null_mask, 'place_with_parent_names'].value_counts()

|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||    23
Name: place_with_parent_names, dtype: int64